<div class="sm-menu-wrapper">
	<nav role='navigation' class="sm-menu">
		<ul class="container">
			<li><a ui-sref="home">Home</a></li><li><a ui-sref="staffSummary" class="menu-active">Administration</a></li><li><a href="#">Incentives</a></li><li><a href="#">Training and Certifications</a></li><li><a href="#">Maintenance<i class="fa fa-caret-down"></i></a></li><li><a href="#">Reports<i class="fa fa-caret-down"></i></a></li>				
		</ul>
	</nav>
	<section class="sm-breadcrumb-wrapper">
		<div class="sm-breadcrumb container" ncy-breadcrumb>
		</div>
	</section>
</div>