<div class="container">
    <section class="sm-page-title ng-scope">
        <header>Add New User
            <i class="fa fa-print pull-right"></i>
        </header>
    </section>
    <div class="ng-scope">
        <ul>
            <li></li>
        </ul>
    </div>
    <div class="sm-page-wrapper ng-scope">
        <div class="row">
            <div class="col-sm-6">
                <fieldset>
                    <legend>Personal Information</legend>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>First Name</label>
                                <input class="form-control" ng-model="edit.personnel.firstName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input class="form-control" ng-model="edit.personnel.lastName">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Middle Initial</label>
                                <input class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Non Associate ID</label>
                                <input class="form-control">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Employment Information</legend>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Employee Number</label>
                                <input class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Satrt Date</label>
                                <input class="form-control" ng-model="edit.personnel.startDate">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Entity ID</label>
                                <input class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Termination Date</label>
                                <input class="form-control" ng-model="edit.personnel.endDate">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Access ID</label>
                                <input class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Location</label>
                                <input class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Region</label>
                                <input class="form-control">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <legend>Contact Details</legend>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Address Line 1</label>
                                <input class="form-control" ng-model="edit.personnel.address.addressLine1">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Address Line 2</label>
                                <input class="form-control" ng-model="edit.personnel.address.addressLine2">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>City</label>
                                <input class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>State</label>
                                <input class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>ZipCode</label>
                                <input class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Country</label>
                                <input class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Work Phone</label>
                                <input class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Email Id</label>
                                <input class="form-control">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Manager Information</legend>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Manager/Approver</label>
                                <input class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-danger" ng-click="edit.save()">Save</button>
                            <button class="btn btn-danger" ng-click="edit.delete()">Delete</button>
                            <button class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
