<div class="container">
	<section class="sm-page-title">
		<header>User Administration Summary<i class="fa fa-print pull-right"></i></header>
	</section>
	<section class="sm-grid-header">		
		<a class="btn btn-danger" ui-sref="addUser">Add New User</a>
		<ul class="pull-right list-inline">
			<li>Showing 16 records of 165</li>
			<li><i class="fa fa-upload"></i></li>
			<li><i class="fa fa-file-pdf-o"></i></li>
			<li><i class="fa fa-file-excel-o"></i></li>
		</ul>
	</section>
	<section class="sm-grid-wrapper">
        <div class="sm-ui-grid grid" ui-grid="summary.gridOptions"></div>
	</section>
</div>